.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid $blue;
  color: $blue;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: color 0.7s ease-out, background 0.7s ease-out;

  @include media-breakpoint-down(md) {
    width: 40px;
    height: 40px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
  
  &.active {
    color: $white;
    background: $blue;
  }
}

.title {
  font-size: 1.2rem;
  color: $black;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  color: $gray-700
}

.field-wrapper > div {
  margin-bottom: 1.5rem;
}

.criteria-container {
  .table {
    font-size: 15px;
    @include media-breakpoint-down(md) {
      font-size: 13px;
    }
  }
}

.teacher-main-container {
  .b-table-sticky-header {
    @include media-breakpoint-down(md) {
      min-height: calc(50vh - 200px) !important;
      max-height: calc(50vh - 200px) !important;
    } 
  }

  .teacher-content {
    @include media-breakpoint-down(md) {
      min-height: auto !important;
      max-height: none !important;
      overflow-y: auto !important;
    }
  }
}